@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --ff-primary: "Poppins", sans-serif;
  --clr-dark: #27272a;
  --clr-mid: #dfdfdfc4;
  --clr-light: #fff;
  --fs-xxs:	12px;
  --fs-xs:	13px;
  --fs-sm:	14px;
  --fs-md:	16px;
  --fs-lg:	18px;
  --fs-xl:	20px;
  --fs-xxl:	22px;
  --fs-heading:	32px
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  line-height: 1.6;
  color: var(--clr-dark);
}

section {
  min-height: 100vh;
  max-width: 1000px;
  padding: 100px 0px;
  margin: 0px auto;
}

h1 {
  font-size: var(--fs-xxl);
  color: var(--clr-dark);
  padding-bottom: 2rem;
  text-transform: uppercase;
}

button {
  width: 120px;
  height: 40px;
  background: linear-gradient(180deg, rgba(244, 3, 84, 0.9) 0%, rgba(183, 21, 90, 0.9) 100%);
  border: 2px solid #EEEEEE;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  color: var(--clr-light);
  font-weight: 400;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  cursor: pointer;
}

.app {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.app_rules {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.app__rules--handler {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.app__rules--handler p {
  font-size: 32px;
}

.rules__modal ol {
  display: flex;
  flex-direction: column;
  font-weight: 200;
  font-size: 14px;
}