@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --ff-primary: "Poppins", sans-serif;
  --clr-dark: #27272a;
  --clr-mid: #dfdfdfc4;
  --clr-light: #fff;
  --fs-xxs:	12px;
  --fs-xs:	13px;
  --fs-sm:	14px;
  --fs-md:	16px;
  --fs-lg:	18px;
  --fs-xl:	20px;
  --fs-xxl:	22px;
  --fs-heading:	48px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: var(--fs-md);
  line-height: 1.6;
  color: var(--clr-dark);
  overflow: hidden;
}

h1 {
  font-size: var(--fs-heading);
  color: var(--clr-dark);
  padding-bottom: 2rem;
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-md);
  color: var(--clr-dark);
  padding-bottom: 0.5rem;
  text-align: justify;
  font-weight: 500;
}

button {
  width: 120px;
  height: 40px;
  background: linear-gradient(45deg, rgba(255, 0, 85, 0.9) 0%, rgba(183, 21, 90, 0.9) 100%);
  background-size: 300% 100%;
  border: 2px solid #EEEEEE;
  backdrop-filter: blur(10px);
  border-radius: 50px;
  color: var(--clr-light);
  font-weight: 400;
  font-size: var(--fs-sm);
  text-transform: uppercase;
  cursor: pointer;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

button:hover {
  background-position: 100% 0%;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

button:focus {
  outline: none;
}

.app {
  min-height: 100vh;
  width: 100vw;
  padding: 2rem;
}

.app_rules {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem;
  max-width: 450px;
  z-index: 999;
  background-color: var(--clr-light);
}

.app__rules--handler {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 32px;
  color: var(--clr-light);
  padding: 0.5rem;
  background: linear-gradient(180deg, rgba(244, 3, 84, 0.9) 0%, rgba(183, 21, 90, 0.9) 100%);
  border-radius: 30px;
  animation: slideUp .5s ease forwards;
}

.rules__modal {
  animation: expand .3s ease forwards;
}

.rules__modal p {
  font-size: 14px;
  text-align: justify;
  animation: slideIn .6s ease forwards;
}

.rules__modal p span {
  display: inline-block;
  margin-bottom: 0.25rem;
  text-align: center;
  width: 32px;
  border: 2px solid rgba(183, 21, 90, 0.9);
  border-radius: 50px;
  font-weight: 800;
  font-size: var(--fs-lg);
}

.main, .select, .playground {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: grow .4s ease forwards;
}

.playground__result {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.playground__scores {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  animation: grow .6s ease forwards;
}

.playground__scores h2 span {
  display: inline-block;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  width: 70px;
  background-color: rgba(183, 21, 90, 0.9);
  color: var(--clr-light);
  
}

.playground__images {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: center;
  width: 100%;
}

.playground__images--div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.playground__images--div p {
  padding-top: 0.3rem;
  width: 120px;
  height: 40px;
  background-color: var(--clr-light);
  border: 2px solid var(--clr-mid);
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.playground__infoText {
  margin-top: 1rem;
  font-size: 14px;
  color: var(--clr-dark);
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes grow {
  0% {
    transform: scale(.1);
  }
  100% {
    transform: scale(1);
  }
}