.rules {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 1rem;
  max-width: 450px;
  border-top-left-radius: 10px;
  z-index: 999;
  background-color: var(--clr-light);
  overflow-x: hidden;
}

.rules__handler {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 32px;
  color: var(--clr-light);
  padding: 0.5rem;
  background: linear-gradient(
    180deg,
    var(--clr-primary) 0%,
    var(--clr-secondary) 100%
  );
  border-radius: 30px;
  animation: slideUp 0.5s ease forwards;
}

.rules__modal {
  animation: expand 0.3s ease forwards;
}

.rules__modal-paragraph {
  font-size: 14px;
  text-align: justify;
  animation: slideIn 0.6s ease forwards;
}

.rules__modal-paragraph span {
  display: inline-block;
  margin-bottom: 0.25rem;
  text-align: center;
  width: 32px;
  border: 2px solid var(--clr-secondary);
  border-radius: 50px;
  font-weight: 800;
  font-size: var(--fs-lg);
}

@keyframes slideIn {
  0% {
    transform: translateX(500px) scale(0.2);
  }
  100% {
    transform: translateX(0px) scale(1);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}
